body {
    height: 650px;
    background-image: url(matrix.jpg);
    margin-top: 40px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
    color: #ebe8db;
}
p {
    color: white;
    font-family: monospace;
    font-size: 14px;
    text-justify: auto;
    padding-left: 35px;
    margin-bottom: 10px;
}
img {
    width: 180px;
    margin-right: 35px;
    margin-left: 30px;
    float: right;
}
#kevin {
    height: 320px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px;
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}
p::first-letter {
    font-size: 34px;
    color: #0a9b3a;
    font-weight: bold;
}
a {
    color: #0a9b3a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
#chema {
    height: 400px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px;
    overflow: auto;
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
}
#chema img {
    width: 180px;
}
